In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))
%matplotlib inline

In [3]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 7, 31, 21, 2, 19, 605281)

In [4]:
now.year,now.month,now.day

(2017, 7, 31)

In [8]:
delta = datetime(2017,7,31,9,3) - datetime(1977,3,13)
delta

datetime.timedelta(14750, 32580)

In [9]:
delta.days

14750

In [10]:
delta.seconds

32580

In [11]:
from datetime import timedelta
start = datetime(2011,1,7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011,1,3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [18]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011','8/6/2011']

In [20]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [23]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs

['7/6/2011', '8/6/2011']

In [25]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs+[None])

In [28]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
idx[2]

NaT

In [30]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [35]:
datetime.strptime('2017-07-31 Mon','%Y-%m-%d %a')

datetime.datetime(2017, 7, 31, 0, 0)

In [36]:
from datetime import datetime
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [37]:
ts = Series(np.random.randn(6),index=dates)
ts

2011-01-02    2.033030
2011-01-05    1.408513
2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-10   -0.317213
2011-01-12   -0.098478
dtype: float64

In [38]:
type(ts)

pandas.core.series.Series

In [39]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [40]:
ts+ts[::2]

2011-01-02    4.066059
2011-01-05         NaN
2011-01-07   -5.201030
2011-01-08         NaN
2011-01-10   -0.634426
2011-01-12         NaN
dtype: float64

In [42]:
ts.index.dtype

dtype('<M8[ns]')

In [43]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [44]:
stamp = ts.index[2]

In [46]:
ts[stamp]

-2.6005148249458316

In [47]:
ts['1/10/2011']

-0.31721311738792052

In [48]:
ts['20110110']

-0.31721311738792052

In [49]:
longer_ts = Series(np.random.randn(1000),
                  index = pd.date_range('1/1/2011',periods=1000))
#date_range('start_date',periods=range)

In [50]:
longer_ts

2011-01-01    1.658735
2011-01-02   -0.251397
2011-01-03   -1.397731
2011-01-04    1.271845
2011-01-05    0.959116
2011-01-06   -1.988529
                ...
2013-09-21   -2.553820
2013-09-22    0.697952
2013-09-23   -0.960628
2013-09-24    1.154165
2013-09-25   -0.626114
2013-09-26    0.608899
Freq: D, Length: 1000, dtype: float64

In [52]:
longer_ts['2011']

2011-01-01    1.658735
2011-01-02   -0.251397
2011-01-03   -1.397731
2011-01-04    1.271845
2011-01-05    0.959116
2011-01-06   -1.988529
                ...
2011-12-26    1.444813
2011-12-27   -1.640541
2011-12-28   -0.080497
2011-12-29    0.282792
2011-12-30   -0.429545
2011-12-31    0.884361
Freq: D, Length: 365, dtype: float64

In [54]:
ts[datetime(2011,1,7):]

2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-10   -0.317213
2011-01-12   -0.098478
dtype: float64

In [55]:
ts

2011-01-02    2.033030
2011-01-05    1.408513
2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-10   -0.317213
2011-01-12   -0.098478
dtype: float64

In [56]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-10   -0.317213
dtype: float64

In [57]:
ts.truncate(after='1/9/2011')
#cut off the part dated after '1/9/2011'

2011-01-02    2.033030
2011-01-05    1.408513
2011-01-07   -2.600515
2011-01-08    0.292158
dtype: float64

In [58]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [60]:
long_df = DataFrame(np.random.randn(100,4),
                   index=dates,
                   columns=['Colorado','Texas','New York','Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.431646 -0.231499  0.446712  0.643302
2001-05-09  0.888415 -0.579511  0.130925  0.576736
2001-05-16  0.079017  0.887608 -0.461850 -0.498142
2001-05-23  0.300362 -0.529279  0.502171  0.726621
2001-05-30  0.213826  1.448474 -1.328963 -0.582956

In [61]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000',
                         '1/3/2000'])
dup_ts = Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [62]:
dup_ts.index.is_unique

False

In [63]:
dup_ts['1/3/2000']

4

In [64]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [65]:
grouped = dup_ts.groupby(level=0)

In [66]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [67]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [75]:
test = dup_ts.groupby(dup_ts.index)
test.mean(),test.count()

(2000-01-01    0
 2000-01-02    2
 2000-01-03    4
 dtype: int32, 2000-01-01    1
 2000-01-02    3
 2000-01-03    1
 dtype: int64)

In [76]:
ts

2011-01-02    2.033030
2011-01-05    1.408513
2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-10   -0.317213
2011-01-12   -0.098478
dtype: float64

In [81]:
ts.resample('D').sum()

2011-01-02    2.033030
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    1.408513
2011-01-06         NaN
2011-01-07   -2.600515
2011-01-08    0.292158
2011-01-09         NaN
2011-01-10   -0.317213
2011-01-11         NaN
2011-01-12   -0.098478
Freq: D, dtype: float64

In [82]:
index = pd.date_range('4/1/2012','6/1/2012')

In [83]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range(end='6/1/2012',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range(start='4/1/2012',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [87]:
pd.date_range('1/1/2000','12/1/2000',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [88]:
pd.date_range('5/2/2012 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [89]:
pd.date_range('5/2/2012 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [91]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour()
hour

In [93]:
four_hours = Hour(4)
four_hours

In [96]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [97]:
Hour(2) + Minute(30)

In [98]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [99]:
rng = pd.date_range('1/1/2012','9/1/2012',freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [100]:
ts = Series(np.random.randn(4),
           index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31   -0.811095
2000-02-29    0.369900
2000-03-31    1.314196
2000-04-30    0.719336
Freq: M, dtype: float64

In [103]:
ts.shift(2)
# shifting, move values forth or back on time index

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.811095
2000-04-30    0.369900
Freq: M, dtype: float64

In [102]:
ts.shift(-2)

2000-01-31    1.314196
2000-02-29    0.719336
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [105]:
ts/ts.shift(1)-1
# percentage of daily change

2000-01-31         NaN
2000-02-29   -1.456050
2000-03-31    2.552837
2000-04-30   -0.452642
Freq: M, dtype: float64

In [106]:
ts.shift(2,freq='M')

2000-03-31   -0.811095
2000-04-30    0.369900
2000-05-31    1.314196
2000-06-30    0.719336
Freq: M, dtype: float64

In [107]:
ts.shift(3,freq='D')

2000-02-03   -0.811095
2000-03-03    0.369900
2000-04-03    1.314196
2000-05-03    0.719336
dtype: float64

In [108]:
ts.shift(1,freq='3D')

2000-02-03   -0.811095
2000-03-03    0.369900
2000-04-03    1.314196
2000-05-03    0.719336
dtype: float64

In [109]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.811095
2000-02-29 01:30:00    0.369900
2000-03-31 01:30:00    1.314196
2000-04-30 01:30:00    0.719336
Freq: M, dtype: float64

In [110]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [111]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [112]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [113]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [114]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [115]:
ts = Series(np.random.randn(20),
           index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.071229
2000-02-29    0.645727
2000-03-31    0.056295
dtype: float64

In [117]:
ts.resample('M').mean()

2000-01-31   -0.071229
2000-02-29    0.645727
2000-03-31    0.056295
Freq: M, dtype: float64