In [1]:
%pwd

'C:\\Users\\Zishi\\Python learning notebooks\\Pydata'

In [2]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a','b','c','d','message']
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
parsed = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\csv_mindex.csv',
                    index_col=['key1','key2'])

In [12]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
list(open(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [14]:
result = pd.read_table(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex3.txt',sep='\s+') #accept regex

In [15]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [19]:
result = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex5.csv',
                    na_values=['NULL'])

In [20]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
result.isnull()

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [22]:
sentinels = {'message':['foo','NA'],'something':['two']}

In [23]:
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [24]:
result = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [25]:
pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [26]:
chunker = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex6.csv',chunksize=1000)

In [31]:
chunker

In [37]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)

In [38]:
tot[:10] #problem here

Series([], dtype: float64)

In [41]:
data = pd.read_csv(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex5.csv')

In [42]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
data.to_csv('out.csv')

In [45]:
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [46]:
data.to_csv('out.csv',na_rep='NULL')

In [47]:
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [49]:
data.to_csv('out.csv',index=False,columns=['a','b','c'])

In [50]:
!type out.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [51]:
dates = pd.date_range('1/1/2017',periods=7)

In [54]:
import numpy as np
ts= pd.Series(np.arange(7),index=dates)

In [55]:
ts

2017-01-01    0
2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
2017-01-06    5
2017-01-07    6
Freq: D, dtype: int32

In [56]:
ts.to_csv('tseries.csv')

In [57]:
!type tseries.csv

2017-01-01,0
2017-01-02,1
2017-01-03,2
2017-01-04,3
2017-01-05,4
2017-01-06,5
2017-01-07,6

In [58]:
pd.Series.from_csv('tseries.csv',parse_dates=True)

2017-01-01    0
2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
2017-01-06    5
2017-01-07    6
dtype: int64

In [60]:
!type C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [61]:
import csv
f = open(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex7.csv')
reader = csv.reader(f)

In [63]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [64]:
lines = list(csv.reader(open(r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\ex7.csv')))

In [65]:
header,values = lines[0],lines[1:]

In [66]:
data_dict = {h:v for h,v in zip(header,zip(*values))}

In [67]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

JSON

In [69]:
obj = """
{"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings": [{"name":"Scott","age":25,"pet":"Zuko"},
            {"name":"Katie","age":33,"pet":"Cisco"}]
}
"""

In [71]:
import json

In [73]:
result = json.loads(obj)

In [74]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [75]:
asjson = json.dumps(result)

In [76]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [79]:
siblings = pd.DataFrame(result["siblings"],columns=["name","age","pet"])

In [80]:
siblings

    name  age    pet
0  Scott   25   Zuko
1  Katie   33  Cisco

XML

In [85]:
from lxml.html import parse
from urllib.request import urlopen

parsed = parse(urlopen('https://finance.yahoo.com/quote/AAPL?p=AAPL'))
doc = parsed.getroot()

In [86]:
links = doc.findall('.//a')

In [88]:
link =links[28]

In [89]:
link.get('href')

'/quote/FB?p=FB'

In [90]:
for link in links:
    print(link.get('href'))

https://www.yahoo.com/
https://mail.yahoo.com/?.intl=us&.lang=en-US
https://www.flickr.com/
https://www.tumblr.com/
https://www.yahoo.com/news/
http://sports.yahoo.com/
http://finance.yahoo.com/
https://www.yahoo.com/celebrity/
https://answers.yahoo.com/
https://groups.yahoo.com/
https://mobile.yahoo.com/
https://everything.yahoo.com/
https://www.mozilla.org/firefox/new/?utm_source=yahoo&utm_medium=referral&utm_campaign=y-uh&utm_content=y-finance-try
https://finance.yahoo.com/
https://login.yahoo.com/config/login?.intl=us&.lang=en-US&.src=finance&.done=https%3A%2F%2Ffinance.yahoo.com%2Fquote%2FAAPL%3Fp%3DAAPL
https://mail.yahoo.com/?.intl=us&.lang=en-US&.partner=none&.src=finance
/
/personal-finance
/tech
/industries
/screener
/portfolios?bypass=true
/chart/^GSPC
/quote/^GSPC?p=^GSPC
/chart/^DJI
/quote/^DJI?p=^DJI
/personal-finance/money-basics
/quote/GOOG?p=GOOG
/quote/FB?p=FB
/quote/AMZN?p=AMZN
/quote/TSLA?p=TSLA
/quote/NFLX?p=NFLX
/quote/AAPL?p=AAPL
/quote/AAPL/community?p=AAPL
/quote/AAPL/key-statistics?p=AAPL
/quote/AAPL/profile?p=AAPL
/quote/AAPL/financials?p=AAPL
/quote/AAPL/options?p=AAPL
/quote/AAPL/holders?p=AAPL
/quote/AAPL/history?p=AAPL
/quote/AAPL/analysts?p=AAPL
/chart/AAPL
/quote/AAPL/news?p=AAPL
/quote/AAPL/press-releases?p=AAPL
/m/be42c784-de2f-32c0-a4f7-51ceaa04c2a2/what%27s-behind-the-tech-fund.html
/m/be42c784-de2f-32c0-a4f7-51ceaa04c2a2/what%27s-behind-the-tech-fund.html
/m/ed18ce77-b51e-3a9b-b092-4bd7657101b2/treasury-secretary-mnuchin.html
/m/ed18ce77-b51e-3a9b-b092-4bd7657101b2/treasury-secretary-mnuchin.html
/m/65add4d2-0cce-3d33-a83f-b8623da9fd39/futures%3A-nasdaq-aims-to.html
/m/65add4d2-0cce-3d33-a83f-b8623da9fd39/futures%3A-nasdaq-aims-to.html
https://itunes.apple.com/us/podcast/yahoo-finance-presents/id1241417570?mt=2
https://smallbusiness.yahoo.com
https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310
http://help.yahoo.com/l/us/yahoo/finance/
https://yahoo.uservoice.com/forums/382977
http://info.yahoo.com/privacy/us/yahoo/
http://info.yahoo.com/relevantads/
http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html
https://twitter.com/YahooFinance
https://facebook.com/yahoofinance
http://yahoofinance.tumblr.com

In [91]:
urls =[link.get('href') for link in doc.findall('.//a')]

In [92]:
urls

['https://www.yahoo.com/',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US',
 'https://www.flickr.com/',
 'https://www.tumblr.com/',
 'https://www.yahoo.com/news/',
 'http://sports.yahoo.com/',
 'http://finance.yahoo.com/',
 'https://www.yahoo.com/celebrity/',
 'https://answers.yahoo.com/',
 'https://groups.yahoo.com/',
 'https://mobile.yahoo.com/',
 'https://everything.yahoo.com/',
 'https://www.mozilla.org/firefox/new/?utm_source=yahoo&utm_medium=referral&utm_campaign=y-uh&utm_content=y-finance-try',
 'https://finance.yahoo.com/',
 'https://login.yahoo.com/config/login?.intl=us&.lang=en-US&.src=finance&.done=https%3A%2F%2Ffinance.yahoo.com%2Fquote%2FAAPL%3Fp%3DAAPL',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.partner=none&.src=finance',
 '/',
 '/personal-finance',
 '/tech',
 '/industries',
 '/screener',
 '/portfolios?bypass=true',
 '/chart/^GSPC',
 '/quote/^GSPC?p=^GSPC',
 '/chart/^DJI',
 '/quote/^DJI?p=^DJI',
 '/personal-finance/money-basics',
 '/quote/GOOG?p=GOOG',
 '/quote/FB?p=FB',
 '/quote/AMZN?p=AMZN',
 '/quote/TSLA?p=TSLA',
 '/quote/NFLX?p=NFLX',
 '/quote/AAPL?p=AAPL',
 '/quote/AAPL/community?p=AAPL',
 '/quote/AAPL/key-statistics?p=AAPL',
 '/quote/AAPL/profile?p=AAPL',
 '/quote/AAPL/financials?p=AAPL',
 '/quote/AAPL/options?p=AAPL',
 '/quote/AAPL/holders?p=AAPL',
 '/quote/AAPL/history?p=AAPL',
 '/quote/AAPL/analysts?p=AAPL',
 '/chart/AAPL',
 '/quote/AAPL/news?p=AAPL',
 '/quote/AAPL/press-releases?p=AAPL',
 '/m/be42c784-de2f-32c0-a4f7-51ceaa04c2a2/what%27s-behind-the-tech-fund.html',
 '/m/be42c784-de2f-32c0-a4f7-51ceaa04c2a2/what%27s-behind-the-tech-fund.html',
 '/m/ed18ce77-b51e-3a9b-b092-4bd7657101b2/treasury-secretary-mnuchin.html',
 '/m/ed18ce77-b51e-3a9b-b092-4bd7657101b2/treasury-secretary-mnuchin.html',
 '/m/65add4d2-0cce-3d33-a83f-b8623da9fd39/futures%3A-nasdaq-aims-to.html',
 '/m/65add4d2-0cce-3d33-a83f-b8623da9fd39/futures%3A-nasdaq-aims-to.html',
 'https://itunes.apple.com/us/podcast/yahoo-finance-presents/id1241417570?mt=2',
 'https://smallbusiness.yahoo.com',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://twitter.com/YahooFinance',
 'https://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [94]:
tables = doc.findall('.//table')

In [95]:
tables

[<Element table at 0x238318f86d8>,
 <Element table at 0x238318f88b8>,
 <Element table at 0x238318f8908>]

In [96]:
from lxml import objectify
path = r'C:\Users\Zishi\Documents\GitHub\pydata-book\ch06\mta_perf\Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [100]:
data=[]
skip_fields=["PARENT_SEQ","INDICATOR_SEQ","DESIRED_CHANGE","DECIMAL_PLACES"]
for elt in root.INDICATOR:
    el_data={}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag]=child.pyval
    data.append(el_data)

In [101]:
perf = pd.DataFrame(data)
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.4,95,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96,95,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93.7,95,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.1,95,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,92.6,96.2,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.8,96.2,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.2,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.1,96.2,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.8,96.2,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.3,96.2,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.7,96.2,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.1,96.2,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.8,96.2,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,96.2,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98,96.3,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93,96.3,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.3,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.1,96.3,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.6,96.3,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.4,96.3,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,12,2011,,97

In [105]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [106]:
root.get('href')

'http://www.google.com'

In [107]:
root.text

'Google'