# Movies: User Rating analysis

**u.data structure**: user id | item id | rating | timestamp

**u.user structure**: user id | age | gender | occupation | zip code

**u.item structure**: movie id | movie title | release date | video release date |IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy |Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |Thriller | War | Western |

## 1. Standard deviation of ratings by gender

In [1]:
# three time modules won't be used that much, nice to have.
import numpy as np
import pandas as pd
import time
from datetime import datetime
from datetime import date

In [2]:
# create a DataFrame from table: u.data
data_names = ['userid','itemid','rating','timestamp']
udata = pd.read_table(r'C:\Users\Zishi\Downloads\ml-100k\u.data',sep='\t',names=data_names)
# create a DataFrame from table: u.user
user_names = ['userid','age','gender','occupation','zipcode']
uuser = pd.read_table(r'C:\Users\Zishi\Downloads\ml-100k\u.user',sep='|',names=user_names)
# merge both dataframes on key "userid"
userdata = pd.merge(uuser,udata,how='inner',on='userid')
# create a new dataframe containing only "gender" and "rating"
genderdata = userdata[['gender','rating']]
# use pivot table to culculate standard deviation
pivot = pd.pivot_table(genderdata,index=['gender'],values=['rating'],aggfunc='std')
pivot

          rating
gender
F       1.170951
M       1.109556